[Unit]
Description=A prometheus node exporter container (rootless)

[Container]
ContainerName=prometheus-node-exporter
Image=quay.io/prometheus/node-exporter:latest
Network=host
PodmanArgs=--pid=host
Volume=/:/host:ro,rslave
Volume=/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket:ro
Exec=--path.rootfs=/host \
--path.procfs=/host/proc \
--collector.systemd \
--collector.systemd.unit-include=".+" \
--collector.processes \
--collector.interrupts \
--collector.interrupts.name-include=".+" \
--collector.tcpstat

[Service]
Restart=on-failure
RestartSec=10s
RestartSteps=5
RestartMaxDelaySec=1min
TimeoutStartSec=15min

[Install]
WantedBy=default.target
